{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please copy both keys and use them in the form to reset your password:" %}
{% block reset_link %}
UID: {{uid}}
Token: {{token}}
{% endblock %}

{% translate "Please don't reply to this email" %}
{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
